<h2> Add a New Wonder</h2>
<form action="submit_new"> 
  Name: <input name="name" type="text"><br>
  Wonder Category:
  <% if params[:type] %>
    <input list="w_types" name="type" value="<%= params[:type] %>">
  <% else %>
    <input list="w_types" name="type">
  <% end %> 
  <datalist id="w_types">
    <% Place.types.each do |type| %> 
      <option value="<%=type%>">
    <% end %>
  </datalist><br>
  Picture URL: <input name="url" type="url"><br>
  Admission Price: $<input name="price" type="number" step=".01"><br>
  Description:<br>
  <textarea name="description"rows="10" cols="50"></textarea><br>
  <input type="submit">
</form>
